<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label for="room-pass" class="sr-only">Insira uma senha</label>
        <input type="password" id="room-pass" name="password" placeholder="Insira uma senha">
        <button class="button">
            <img src="images/users-white.svg" alt="">
            Criar Sala
        </button>
    </form>
</section>